<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/Artur/IdeaProjects/_AIT/33/cohort33e-qap/QA_33_Phonebook_v2_VOM">
        <classes/>
    </test>
</suite>